body {
    background-color: rgb(146, 212, 208);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 816px;
}
h1 {
    color: rgb(0, 110, 106);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 800px;
}
#content {
    width:800px;
    margin: 1 auto;
}
#wholepage {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
#benpic {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}
table {
    width: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}